<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="static/files/about/styles.css" type="text/css" rel="stylesheet"/>
    <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="static/resources/scripts/axure/axQuery.js"></script>
    <script src="static/resources/scripts/axure/globals.js"></script>
    <script src="static/resources/scripts/axutils.js"></script>
    <script src="static/resources/scripts/axure/annotation.js"></script>
    <script src="static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="static/resources/scripts/axure/doc.js"></script>
    <script src="static/resources/scripts/messagecenter.js"></script>
    <script src="static/resources/scripts/axure/events.js"></script>
    <script src="static/resources/scripts/axure/recording.js"></script>
    <script src="static/resources/scripts/axure/action.js"></script>
    <script src="static/resources/scripts/axure/expr.js"></script>
    <script src="static/resources/scripts/axure/geometry.js"></script>
    <script src="static/resources/scripts/axure/flyout.js"></script>
    <script src="static/resources/scripts/axure/model.js"></script>
    <script src="static/resources/scripts/axure/repeater.js"></script>
    <script src="static/resources/scripts/axure/sto.js"></script>
    <script src="static/resources/scripts/axure/utils.temp.js"></script>
    <script src="static/resources/scripts/axure/variables.js"></script>
    <script src="static/resources/scripts/axure/drag.js"></script>
    <script src="static/resources/scripts/axure/move.js"></script>
    <script src="static/resources/scripts/axure/visibility.js"></script>
    <script src="static/resources/scripts/axure/style.js"></script>
    <script src="static/resources/scripts/axure/adaptive.js"></script>
    <script src="static/resources/scripts/axure/tree.js"></script>
    <script src="static/resources/scripts/axure/init.temp.js"></script>
    <script src="static/resources/scripts/axure/legacy.js"></script>
    <script src="static/resources/scripts/axure/viewer.js"></script>
    <script src="static/resources/scripts/axure/math.js"></script>
    <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="static/data/document.js"></script>
    <script src="static/files/about/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
      <style>
        a{
          text-decoration: none;
        }
    </style>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (导航条) -->

      <!-- Unnamed (占位符) -->
      <div id="u98" class="ax_default placeholder">
        <img id="u750_img" class="img " src="static/images/submit/opt2.png"/>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u99" class="ax_default">
        <div id="u99_state0" class="panel_state" data-label="Home" style="">
          <div id="u99_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u100" class="ax_default box_1">
              <div id="u100_div" class=""></div>
              <div id="u100_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u101" class="ax_default label">
              <div id="u101_div" class=""></div>
              <div id="u101_text" class="text ">
                <p><a href="/"><span>Home</span></a></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u102" class="ax_default _文本段落">
              <div id="u102_div" class=""></div>
              <div id="u102_text" class="text ">
                <p><a href="/about"><span>About</span></a></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u103" class="ax_default _文本段落">
              <div id="u103_div" class=""></div>
              <div id="u103_text" class="text ">
                <p><span><a href="/help">Help</a></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u104" class="ax_default _文本段落">
              <div id="u104_div" class=""></div>
              <div id="u104_text" class="text ">
                <p><a href="/example"><span>Example</span></a></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u107" class="ax_default _文本段落">
              <div id="u107_div" class=""></div>
              <div id="u107_text" class="text ">
                <p><a href="/toMyWorkspace"><span>Workspace</span></a></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u108" class="ax_default label">
              <div id="u108_div" class=""></div>
              <div id="u108_text" class="text ">
                <p><a href="/contact"><span>Contact</span></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u172" class="ax_default box_1">
        <img id="u172_img" class="img " src="static/images/home/u75.svg"/>
        <div id="u172_text" class="text ">
          <p><span style="color:rgba(255, 255, 255, 0.8);">&nbsp;&nbsp;&nbsp; </span><span style="color:rgba(255, 255, 255, 0.996078431372549);">ProteinOpt: Protein Stability Optimization Tool</span></p>
        </div>
      </div>
      <div id="u97" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u173" class="ax_default box_1">
        <div id="u173_div" class=""></div>
        <div id="u173_text" class="text ">
          <p><span>ProteinOpt is a multi-objective optimization tool specifically designed for vaccine antigens and decoys, leveraging the Rosetta software suite and Snakemake. ProteinOpt is designed to assist researchers in conveniently and swiftly conducting protein stability optimization operations using local resources. ProteinOpt offers four distinct protein optimization methods, including:</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u174" class="ax_default box_1">
        <div id="u174_div" class=""></div>
        <div id="u174_text" class="text ">
          <p><span>Point Mutation Scanning identifies the seed residues by recording the amino acid with the most reduced energy in the sequence during single-point saturation mutations. During the single-point saturation mutation, ProteinOpt refrains from recording any information regarding the energy reduction associated with cysteine (C) to ensure that there is no substantial alteration to the protein structure. Subsequently, a multi-point mutation method is used to find the most stable protein conformation based on these identified amino acids.</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u175" class="ax_default box_1">
        <div id="u175_div" class=""></div>
        <div id="u175_text" class="text ">
          <p><span>RosettaVIP calculates protein cavities within the input protein and fills them with mutations. It employs a multi-point mutation approach based on these mutated amino acids to search for the most stable protein conformation.</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u176" class="ax_default box_1">
        <div id="u176_div" class=""></div>
        <div id="u176_text" class="text ">
          <p><span>Supercharge focuses on mutating polar amino acids within the input protein to find the lowest/highest electrostatic potential. After running Supercharge protocol, there will be two types of result files. One is the reference file that records which amino acids can increase or decrease the electrostatic potential of the input protein, and the other is the mutated protein file. During multi-point mutation approach, you can choose which result to use for optimization based on your needs. When using the reference file, the system has a larger search space and higher randomness. When using the mutated protein file, the system has shorter running time and more conservative results.</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u177" class="ax_default box_1">
        <div id="u177_div" class=""></div>
        <div id="u177_text" class="text ">
          <p><span>Manually Specified Seed Residuescan can be selected based on experimental records and literature references to determine the amino acids that need to be mutated. ProteinOpt can utilize these residues for multi-point mutation methods to discover the most stable protein conformation.</span></p>
        </div>
      </div>

      <!-- Unnamed (图片 ) -->
      <div id="u178" class="ax_default image">
        <img id="u178_img" class="img " src="static/images/home/u18.png"/>
        <div id="u178_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (图片 ) -->
      <div id="u179" class="ax_default image">
        <img id="u179_img" class="img " src="static/images/home/u23.png"/>
        <div id="u179_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (图片 ) -->
      <div id="u180" class="ax_default image">
        <img id="u180_img" class="img " src="static/images/home/u28.png"/>
        <div id="u180_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (图片 ) -->
      <div id="u181" class="ax_default image">
        <img id="u181_img" class="img " src="static/images/home/u33.png"/>
        <div id="u181_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u182" class="ax_default box_1">
        <div id="u182_div" class=""></div>
        <div id="u182_text" class="text ">
          <p><span>Point Mutation Scanning</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u183" class="ax_default box_1">
        <img id="u183_img" class="img " src="static/images/about/u183.svg"/>
        <div id="u183_text" class="text ">
          <p><span>RosettaVIP</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u184" class="ax_default box_1">
        <div id="u184_div" class=""></div>
        <div id="u184_text" class="text ">
          <p><span>Supercharge</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u185" class="ax_default box_1">
        <img id="u185_img" class="img " src="static/images/about/u185.svg"/>
        <div id="u185_text" class="text ">
          <p><span>Manually Specified Seed Residues</span></p>
        </div>
      </div>
    </div>
    <script src="static/resources/scripts/axure/ios.js"></script>
  </body>
</html>
